[submodule "Auxio"]
	path = Auxio
	url = https://github.com/OxygenCobalt/Auxio
[submodule "github-profile-readme-generator"]
	path = github-profile-readme-generator
	url = https://github.com/rahuldkjain/github-profile-readme-generator
[submodule "winutil"]
	path = winutil
	url = https://github.com/ChrisTitusTech/winutil
[submodule "puter"]
	path = puter
	url = https://github.com/HeyPuter/puter
[submodule "ChatGPT"]
	path = ChatGPT
	url = https://github.com/lencx/ChatGPT
[submodule "os"]
	path = os
	url = https://github.com/elementary/os
[submodule "linux_on_arm64_laptop"]
	path = linux_on_arm64_laptop
	url = https://github.com/merckhung/linux_on_arm64_laptop
[submodule "xManager"]
	path = xManager
	url = https://github.com/Team-xManager/xManager
[submodule "AutoHotkey"]
	path = AutoHotkey
	url = https://github.com/AutoHotkey/AutoHotkey
[submodule "EmuDeck"]
	path = EmuDeck
	url = https://github.com/dragoonDorise/EmuDeck
[submodule "windirstat"]
	path = windirstat
	url = https://github.com/windirstat/windirstat
[submodule "holoiso"]
	path = holoiso
	url = https://github.com/holoiso-eol/holoiso
[submodule "360Controller"]
	path = 360Controller
	url = https://github.com/360Controller/360Controller
[submodule "n8n"]
	path = n8n
	url = https://github.com/n8n-io/n8n
[submodule "scrcpy-gui"]
	path = scrcpy-gui
	url = https://github.com/Tomotoes/scrcpy-gui
[submodule "WhiteSur-icon-theme"]
	path = WhiteSur-icon-theme
	url = https://github.com/vinceliuice/WhiteSur-icon-theme
[submodule "WhiteSur-gtk-theme"]
	path = WhiteSur-gtk-theme
	url = https://github.com/vinceliuice/WhiteSur-gtk-theme
[submodule "gmail-desktop"]
	path = gmail-desktop
	url = https://github.com/timche/gmail-desktop
[submodule "RoundedTB"]
	path = RoundedTB
	url = https://github.com/RoundedTB/RoundedTB
[submodule "pi-hole"]
	path = pi-hole
	url = https://github.com/pi-hole/pi-hole
[submodule "scrcpy"]
	path = scrcpy
	url = https://github.com/Genymobile/scrcpy
[submodule "electron-outlook"]
	path = electron-outlook
	url = https://github.com/tomlm/electron-outlook
[submodule "avatarify-python"]
	path = avatarify-python
	url = https://github.com/alievk/avatarify-python
[submodule "ChoEazyCopy"]
	path = ChoEazyCopy
	url = https://github.com/Cinchoo/ChoEazyCopy
[submodule "nativefier"]
	path = nativefier
	url = https://github.com/nativefier/nativefier
[submodule "unlocker"]
	path = unlocker
	url = https://github.com/paolo-projects/unlocker
[submodule "webPGUI"]
	path = webPGUI
	url = https://github.com/samuelcarreira/webPGUI
[submodule "cyberduck"]
	path = cyberduck
	url = https://github.com/iterate-ch/cyberduck
[submodule "hosts"]
	path = hosts
	url = https://github.com/StevenBlack/hosts
[submodule "jellyfin"]
	path = jellyfin
	url = https://github.com/jellyfin/jellyfin
[submodule "Tiny10"]
	path = Tiny10
	url = https://github.com/IL01DI/Tiny10
[submodule "motioneyeos"]
	path = motioneyeos
	url = https://github.com/motioneye-project/motioneyeos
